@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-green: #1db954;
  --main-black: #121212;
  --main-gray: #b3b3b3;
  --main-dark-gray: #535353;
  --main-darkest-gray: #212121;

  font-size: 0.9rem;
}

@font-face {
  font-family: Gotham, sans-serif;
  src: url('../assets/fonts/Gotham-Book.woff2') format('woff2'),
    url('../assets/fonts/Gotham-Book.woff') format('woff'),
    url('../assets/fonts/Gotham-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Gotham, sans-serif;
  font-weight: 500;
  overflow: hidden;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--main-dark-gray);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--main-darkest-gray);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--main-dark-gray);
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */
